<div class="main-container">
  <div class="sidebar" [class.expanded]="isSidebarExpanded" (mouseenter)="expandSidebar()"
    (mouseleave)="collapseSidebar()">
    <div class="sidebar-header">
      <a class="brand-link">
        <img src="assets/images/Logotipo-Simbolo-Principal.png" alt="AdminLTE Logo"
          class="brand-image img-circle mt-1" />
        <img src="assets/images/TextLogoPrincipal.png" alt="Banco de Bogotá" class="brand-text" />
      </a>

      <div class="user-profile">
        <div class="user-avatar">G</div>
        <div class="user-info">
          <div class="user-name">Gineth Garcia</div>
        </div>
      </div>
    </div>

    <nav class="sidebar-nav">
      <ul>
        <li class="menu-item">
          <img src="assets/images/Menu.png" alt="Icono Menú" class="menu-icon">
          <span>Menú</span>
        </li>
        <li class="menu-item">
          <a routerLink="/colaboradores" routerLinkActive="active">
            <img src="assets/icons/Kpi_Icon.svg" alt="Icono Tabla Onboarding" class="menu-icon">
            <span>Lista de Colaboradores</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/colaboradores/nuevo" routerLinkActive="active">
            <img src="assets/icons/2plus.svg" alt="Icono Nuevo Colaborador" class="menu-icon">
            <span>Nuevo Colaborador</span>
          </a>
        </li>
        <li class="menu-item">
          <a routerLink="/dashboard" routerLinkActive="active">
            <img src="assets/icons/Kpi_Icon.svg" alt="Icono Dashboard" class="menu-icon"> <span
              *ngIf="isSidebarExpanded">Dashboard</span>
          </a>
        </li>
        <li class="menu-item logout-item">
          <a href="#">
            <img src="assets/images/Exit.png" alt="Icono Salir" class="menu-icon">
            <span>Salir</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content-area">
    <router-outlet></router-outlet>
  </div>
</div>