/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: none; /* <-- Puedes poner el mismo color de fondo que tu .content-area */
                              /* O simplemente dejarlo transparente si el .content-area cubre todo */
  }